$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.image{
  border: 1px solid #000;
  height: 500px;
  position: relative;
}

.link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #808080;
  background: white;
  display: block;
  span{
    display: block;
    background: #808080;
    cursor: move;
  }
}