<ul>
    <li ng-repeat="screen in screens">
        <input type="checkbox" ng-model="linkMaps[screen.id]" ng-if="screen.id != $parent.selectedId"
               ng-change="saveLinks()"/>
        {{ screen.name }} : ({{ screen.fileName }})
        <input type="radio" ng-model="$parent.selectedId" ng-value="screen.id" ng-change="getLinkMaps()"/>
        [{{ linksCount(screen) }}]
    </li>
</ul>
<div class="image" id="{{ selectedId }}">
    <a ng-repeat="link in links"
       style="top:{{ link.top }}px; left:{{ link.left }}px; width:{{ link.width }}px; height:{{ link.height }}px"
       class="link" ng-href="#" id="{{ link.target.id }}" draggable resizable><span>{{ link.target.name }}</span></a>
</div>
